<div class="form-group mb-5 mt-2" [formGroup]="generatorForm">
  <label class="question-label" [for]="formControlNames[k]">
    <strong>{{ question.number }}.</strong> {{ question.label }} <span class='asterisk' *ngIf="question.mandatory">*</span>
  </label>

  <small class="form-text text-muted mb-2 question-description" *ngIf="question.description">
    {{ question.description }}
  </small>

  <ng-container [ngSwitch]="question.id_answer_type">
    <ng-container *ngSwitchCase="'TextBox'">
      <input class="form-control" type="text"
             [id]="formControlNames[k]"
             [name]="formControlNames[k]"
             [formControlName]="formControlNames[k]">
    </ng-container>

    <ng-container *ngSwitchCase="'CommentsBox'">
            <textarea class="form-control" rows="3"
                      [id]="formControlNames[k]"
                      [name]="formControlNames[k]"
                      [formControlName]="formControlNames[k]"></textarea>
    </ng-container>
    
    <ng-container *ngSwitchCase="'CheckBoxList'">
      <div class="form-check"
           *ngFor="let answer of question.answers; let i = index"
           [formArrayName]="formControlNames[k]">
        <input class="form-check-input" type="checkbox"
               [id]="formControlNames[k] + answer.answer_value"
               [name]="formControlNames[k]"
               [value]="answer.answer_value"
               [formControlName]="i" (change)="onChange(formControlNames[k], question.answers)">
        <label class="form-check-label"
               [for]="formControlNames[k] + answer.answer_value">
          {{ answer.answer_label }}
        </label>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'DropDownList'">
      <select class="form-control" [id]="formControlNames[k]" [formControlName]="formControlNames[k]">
        <option selected></option>
        <option *ngFor="let answer of question.answers"
                [value]="answer.answer_value">
          {{ answer.answer_label }}
        </option>
      </select>
    </ng-container>

    <ng-container *ngSwitchCase="'RadioButtonList'">
      <div class="form-check" *ngFor="let answer of question.answers">
        <input class="form-check-input" type="radio"
               [id]="formControlNames[k] + answer.answer_value"
               [name]="formControlNames[k]"
               [value]="answer.answer_value"
               [formControlName]="formControlNames[k]">
        <label class="form-check-label"
               [for]="formControlNames[k] + answer.answer_value">
          {{ answer.answer_label }}
        </label>
      </div>
    </ng-container>
  </ng-container>

  <div class="invalid-feedback"
       *ngIf="!generatorForm.get(formControlNames[k]).valid && generatorForm.get(formControlNames[k]).touched">
    <ng-container *ngIf="generatorForm.get(formControlNames[k]).errors['required']">
      {{ formJson.error_message_required }}
    </ng-container>
    <ng-container *ngIf="generatorForm.get(formControlNames[k]).errors['maxlength']">
      {{ formJson.error_message_max_size }} {{ question.max_size }}
    </ng-container>
  </div>

</div>
