<div class="mt-3">
  <form [formGroup]="generatorForm" (ngSubmit)="onSubmit()">
    <div class='block my-5'>
      <div *ngFor="let activityName of activity.activity_names; let i = index">

        <h3 class="mb-4">{{ activityName }}</h3>

        <ng-container *ngIf="questionType.blocks">
          <ng-container *ngFor="let question of questionType.questions; let k = index">
            <ng-container *ngIf="k < questionType.blocks[0].index_start">
              <app-dependency-builder [question]="question"
                                      [formControlNames]="formControlNames"
                                      [generatorForm]="generatorForm"
                                      [formJson]="formJson"
                                      [activityID]="activity.activity_ids[i]">
              </app-dependency-builder>
            </ng-container>
          </ng-container>

          <div class="child-block" *ngFor="let block of questionType.blocks">
            <h4 class="mb-4">{{ block.label }}</h4>
            <ng-container *ngFor="let question of questionType.questions; let k = index">
              <ng-container *ngIf="block.index_start <= k && k <= block.index_end">
                <app-dependency-builder [question]="question"
                                        [formControlNames]="formControlNames"
                                        [generatorForm]="generatorForm"
                                        [formJson]="formJson"
                                        [activityID]="activity.activity_ids[i]">
                </app-dependency-builder>
              </ng-container>
            </ng-container>
          </div>

          <ng-container *ngFor="let question of questionType.questions; let k = index">
            <ng-container *ngIf="questionType.blocks[questionType.blocks.length - 1].index_end < k">
              <app-dependency-builder [question]="question"
                                      [formControlNames]="formControlNames"
                                      [generatorForm]="generatorForm"
                                      [formJson]="formJson"
                                      [activityID]="activity.activity_ids[i]">
              </app-dependency-builder>
            </ng-container>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="!questionType.blocks">
          <app-dependency-builder *ngFor="let question of questionType.questions" [question]="question"
                                  [formControlNames]="formControlNames"
                                  [generatorForm]="generatorForm"
                                  [formJson]="formJson"
                                  [activityID]="activity.activity_ids[i]">
          </app-dependency-builder>
        </ng-container>
      </div>

    </div>
    <button class="btn btn-primary" type="submit">{{buttonText}}</button>
  </form>
</div>
