<div *ngIf="formJson">

  <h1>{{ formJson.name }}</h1>
  <div class="mt-3">{{ formJson.description }}</div>

  <div class="mt-3">
    <form [formGroup]="generatorForm" (ngSubmit)="onSubmit()">

      <app-question-builder *ngFor="let question of questions; let k = index" [question]="question" [k]="k"
                            [formControlNames]="formControlNames"
                            [generatorForm]="generatorForm"
                            [formJson]="formJson">
      </app-question-builder>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
